<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="f2aa4d44-447a-44a5-8d00-edb740fdabe9"
            Publisher="CN=simej"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>RobotEnclaves.Windows81</DisplayName>
    <PublisherDisplayName>simej</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="RobotEnclaves.Windows81.App">
        <VisualElements
            DisplayName="RobotEnclaves.Windows81"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="RobotEnclaves.Windows81"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>